body {
    margin: 0px;
    background-color: #fff;
}

h1 {
    margin: 0px 0px 0px 0px;
}

h2, h3, p {
    margin: 0px 0px 10px 0px;
}

input {
    font-size: 16pt;
    margin: 0px 0px 10px 0px;
}

.header {
    background-color: #ddd;
    padding: 10px;
    box-shadow: 0px 5px 7px #777;
}

.card {
    background-color: #ddd;
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 5px 5px 7px #777;
    max-width: 500px;
}

.textinput {
    width: 100%;
}
